#UseMyWordsExtensionPleaseWorkBYE ul{
list-style-type: none;
}


#UseMyWordsExtensionPleaseWorkBYE #item {
	width: 125px;
	background-image:url(images/form_bg.jpg);
	background-repeat:repeat-x;
	border:2px solid #48D1CC;
	height: 32px;
	color: #333333;
	padding:3px;
	font-family:'Open Sans Condensed', sans-serif;
}

#UseMyWordsExtensionPleaseWorkBYE #item [type='text'] { 
	font-size: 12px; 
	font-family:'Open Sans Condensed', sans-serif;
}

#UseMyWordsExtensionPleaseWorkBYE #item1 {
	width: 125px;
	justify-self : right;
	background-image:url(images/form_bg.jpg);
	background-repeat:repeat-x;
	border:2px solid #48D1CC;
	height: 32px;	
	color: #333333;
	padding:3px;
	font-family:'Open Sans Condensed', sans-serif;
}
#UseMyWordsExtensionPleaseWorkBYE #item [type='text'] { 
	font-size: 12px; 
	font-family:'Open Sans Condensed', sans-serif;
}
 
 #UseMyWordsExtensionPleaseWorkBYE #greet {
 	color: #343434;
	width: 100%;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
	margin-left: 10px;
	
}


#UseMyWordsExtensionPleaseWorkBYE h2 {
  font-weight: bold;
  color: #696969;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 15px 0 0 0;
}      


#UseMyWordsExtensionPleaseWorkBYE #main-container {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
}

#UseMyWordsExtensionPleaseWorkBYE #submit {
  border-radius: 3px;
  text-align: center;
  padding: 5px 12px;
  font-size: 15px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  font-family:'Open Sans Condensed', sans-serif;
}

#UseMyWordsExtensionPleaseWorkBYE #submit:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
/*  box-shadow: 0px 1px 0px 0px;*/
 
}

#UseMyWordsExtensionPleaseWorkBYE #submit {
	width: 100%;
	background-color: #48D1CC;
/*	box-shadow: 0px 5px 0px 0px #5F9EA0;*/
}

#UseMyWordsExtensionPleaseWorkBYE #submit:hover {
  background-color: #40E0D0;

}


#UseMyWordsExtensionPleaseWorkBYE #example {
	text-align: center;
	color: #48D1CC;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;
	font-size: 20px;
}

#UseMyWordsExtensionPleaseWorkBYE #myList {
	width: 100%;
    text-align: center;
	color: #48D1CC;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 20px;
}


#UseMyWordsExtensionPleaseWorkBYE #clearAll {
	border-radius: 3px;
  text-align: center;
  padding: 5px 12px;
  font-size: 15px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  font-family:'Open Sans Condensed', sans-serif;
}

#UseMyWordsExtensionPleaseWorkBYE #clearAll:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
/*  box-shadow: 0px 1px 0px 0px;*/
}

#UseMyWordsExtensionPleaseWorkBYE #clearAll {
	width: 100%;
	background-color: #48D1CC;
/*	box-shadow: 0px 5px 0px 0px #5F9EA0;*/
}

#UseMyWordsExtensionPleaseWorkBYE #clearAll:hover {
  background-color: #40E0D0;
 
}

#UseMyWordsExtensionPleaseWorkBYE .listItem {
	border-radius: 5px;

  font-size: 10px;
  text-decoration: none;
  
  color: red;
  position: relative;
  display: inline-block;
  font-family:'Open Sans Condensed', sans-serif;
  margin-left: 30px;

}

#UseMyWordsExtensionPleaseWorkBYE #list {
	margin : 3px;
	padding : 0;
	position: absolute;
	top: 0	;
	right:0;
	left: 0;
	bottom:0;
	height: 10px;
}
#UseMyWordsExtensionPleaseWorkBYE #list li {
  border: 1px solid #ddd;
  height: 40px;
  background-color: #f6f6f6;
  text-decoration: none;
  font-size: 5px;
  color: #696969;
  height: 20px;
  margin-bottom:  3px;

}

/* Add a light grey background color on hover */
#UseMyWordsExtensionPleaseWorkBYE #list li:hover {
  background-color: #eee;
}

#UseMyWordsExtensionPleaseWorkBYE .small-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	
	margin-top: 20px;
	display: flex;
  align-items: center;
  justify-content: center;

}
#UseMyWordsExtensionPleaseWorkBYE #scroll {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 0px;
}
#UseMyWordsExtensionPleaseWorkBYE .inputBoxes {
	display: flex;
	justify-content: space-around;
	display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#UseMyWordsExtensionPleaseWorkBYE .logo{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	margin-right: 15px;
	margin-left: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-items: center;
}
#UseMyWordsExtensionPleaseWorkBYE .listItem{
	color:#696969 ;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 12px;

}
#UseMyWordsExtensionPleaseWorkBYE .smallButton {
	color: #696969;
	font-weight: bold;
	border-radius: 3px;
}

#UseMyWordsExtensionPleaseWorkBYE #scroll{
	position : relative;
}
